# Digital Ocean key pairs and tokens
/do-key
/do-key.pub
/*.token

# Local environment settings
/env.sh
*.tfvars

# Terraform state
/terraform.tfstate*
/.terraform

# Packer log
/*.log

# IDE
/*.iml
/.idea
